#about {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: auto;
  overflow: hidden;
}

.text {
  color: #EEEEEE;
  margin-bottom: 10px;
}

.service-info {
  background-color: #292828 !important;
  padding: .75rem !important;
}

.headline {
  background-color: #FF4500 !important;
}

.first-word {
  font-family: Roboto !important;
  font-size: 3rem !important;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.25rem;
}

.second-word {
  font-size: 2rem !important;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.15rem;
}

.third-word {
  font-size: 1.2rem !important;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

.headline h1 {
  padding: 1rem .75rem 0 .75rem !important;
}

.headline p {
  font-weight: 300;
  padding: 0 .75rem 3.5rem .75rem !important;
  font-size: .85rem !important;
  font-family: Roboto !important;
}

.service-info p {
  font-family: Roboto !important;
  font-size: .8rem !important;
  font-weight: 200;
}

.service-text {
  padding-bottom: 2rem !important;
}

.footer {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
  letter-spacing: .1rem;
}

.demo-one img {
  height: 200px;
  width: 200px;
  margin: 0 15px 0 0;
}

img {
  cursor: pointer;
  transition: all .5s;
}

