<header>
  <a href="#">
    <img src="assets/img/sign-tar.svg" class="img-fluid" />
  </a>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav tarakan-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <div id="home">
    <div class="container-fluid">
      <div class="row align-items-end">
        <div class="col-lg-8 service-info">
          <h1 class="text font-bold display-3">OUR SERVICES</h1>
          <div class="service-text text">
            <p>
              <span class="first-word">WEBDESIGN</span>
              <span class="second-word">PHOTOGRAPHY</span>
              <span class="third-word">LOGO DESIGN</span>
            </p>
          </div>
          <p class="text footer">DESIGNED BY TARAKAN &copy; OFFICIAL WEBSITE 2017</p>
        </div>
        <div class="col-lg-4 headline">
          <h1 class="text font-bold display-3">TARAKAN
            <br>CREATIVE</h1>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada, purus in auctor pulvinar, eros mi sollicitudin
            sem, vel tristique mi urna in tellus. Praesent aliquet fringilla elementum. Sed nisi justo, aliquam a dignissim
            non, gravida vel nulla. Quisque dapibus, nisi et dapibus elementum, lorem diam euismod massa, in congue ipsum
            metus eget ipsum. </p>
        </div>
      </div>
    </div>
  </div>
</main>
