<div id="home">
  <div class="container-fluid">
    <div class="row align-items-end">
      <div class="col-lg-8 service-info block">
        <h1 class="text font-bold display-3">OUR SERVICES</h1>
        <div class="service-text text">
          <p>
            <span class="first-word">WEBDESIGN</span>
            <span class="second-word">PHOTOGRAPHY</span>
            <span class="third-word">LOGO DESIGN</span>
          </p>
        </div>
        <p class="text footer">DESIGNED BY TARAKAN &copy; OFFICIAL WEBSITE 2017</p>
      </div>
      <div class="col-lg-4 headline block">
        <h1 class="text font-bold display-3">TARAKAN
          <br>CREATIVE</h1>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada, purus in auctor pulvinar, eros mi sollicitudin
          sem, vel tristique mi urna in tellus. Praesent aliquet fringilla elementum. Sed nisi justo, aliquam a dignissim
          non, gravida vel nulla. Quisque dapibus, nisi et dapibus elementum, lorem diam euismod massa, in congue ipsum metus
          eget ipsum. </p>
      </div>
    </div>
  </div>
</div>