<div id="home">
  <div class="container-fluid">
    <div class="row align-items-end">
      <div class="col-lg-8 service-info block">
        <h1 class="text font-bold display-3 home" (click)="onSelect('home')">OUR SERVICES</h1>
        <div class="service-text text">
          <p>
            <span class="first-word" (click)="onSelect('website')">WEBDESIGN</span>
            <span class="second-word" (click)="onSelect('photography')">PHOTOGRAPHY</span>
            <span class="third-word" (click)="onSelect('logo')">LOGO DESIGN</span>
          </p>
        </div>
        <p class="text footer">DESIGNED BY TARAKAN &copy; OFFICIAL WEBSITE 2017</p>
      </div>
      <div class="col-lg-4 headline block">
        <h1 class="text font-bold display-3" [@fadeToggle]="state">{{data.title}}</h1>
        <p class="text" [@fadeToggle]="state">{{data.description}}</p>
      </div>
    </div>
  </div>
</div>
